<div id="user">
  <div id="w">
  <div id="content" class="clearfix">
    <div id="userphoto" >
      <img src="assets/avatar.png" alt="default avatar"></div>
      <h1 class="subtitle">{{profileUser}}'s Profile</h1>

    <nav id="profiletabs">
      <ul class="clearfix">
        <li><a href="#quizzesTaken" class="sel">Quizzes Taken</a></li>
        <li><a href="#quizzesMade">Quizzes Made</a></li>
        <li><a href="#settings">Settings</a></li>
      </ul>
    </nav>

    <section id="quizzesTaken">
      <ul>
        <li ng-repeat="quiz in profileQuizzesTaken">{{quiz}}</li>
      </ul>
    </section>

    <section id="quizzesMade" class="hidden">
      <ul>
        <li ng-repeat="quiz in profileQuizzesMade">{{quiz}}</li>
      </ul>
    </section>

    <section id="settings" class="hidden">
      <div class="settingTitle">
        <span class="settingTitleLeft"><p>Your user settings:</p></span>
        <span class="settingTitleRight"><md-button type="button" href="#editInfo" class="md-icon-button md-accent"><md-icon>mode_edit</md-icon></md-button></span>
      </div>
      <br>
      <section id="currentInfo">
        <p class="setting"><span>E-mail Address</span> {{profileEmail}} </p>
        <p class="setting"><span>Bio</span> {{profileBio}}</p>
        <p class="setting"><span>Profile Status</span> Public</p>
      </section>

      <section id="editInfo" class="hidden">
        <md-input-container>
          <label>Email:</label>
          <input type="text" ng-model="email">
        </md-input-container>
        <md-input-container>
          <label>Bio:</label>
          <input type="text" ng-model="bio">
        </md-input-container>
        <md-input-container>
          <label>Status:</label>
          <input type="text" ng-model="status">
        </md-input-container>
      </section>

    </section>
  </div>
</div>
</div>
